Example Notebook designed for Google Colab
**This example is not for class accounts**

# What is WRDS ?


*   WRDS stands for Wharton Research Data Services. 
*   WRDS aggregates data into a standard format and then makes it available to subscribers.

# Financial Data
WRDS is best known for financial data—for example, stock prices from CRSP, or company fundamentals from Compustat.

# Connecting to WRDS via Juptyer

Connecting to WRDS via juptyer is EASY!

In [13]:
# First install the WRDS Python Data Access Library
# https://pypi.org/project/wrds/
# https://github.com/wharton/wrds
# it requires requires the Pandas and Psycopg2 Python packages
!pip install wrds

Requirement already satisfied: wrds in /usr/local/lib/python3.7/dist-packages (3.1.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wrds) (1.3.5)
Requirement already satisfied: mock in /usr/local/lib/python3.7/dist-packages (from wrds) (4.0.3)
Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.7/dist-packages (from wrds) (2.9.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.4.32)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from wrds) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wrds) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->wrds) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->wrds) (3.10.0.2)

In [15]:
# Setup your wrds database connection
# You will be asked for your login credentials
import wrds
db = wrds.Connection()

Enter your WRDS username [root]:nvictor
Enter your password:··········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
Loading library list...
Done

In [16]:
# Then you can get a list of the available libraries for your user, this can get really large depending your available products
my_libraries = db.list_libraries()
# Let's just print the first 10 available libraries
print(my_libraries[0:10])

['aha', 'aha_annual_survey_3years', 'aha_annual_survey_hist', 'aha_annual_survey_recent', 'aha_hcris_3years', 'aha_hcris_recent', 'aha_it_survey_3years', 'aha_it_survey_recent', 'aha_sample', 'ahasamp']

In [17]:
# Crsp is our most common subscribed product, so we'll use that for the next example.
crsp_tables = db.list_tables(library='crsp')
print(crsp_tables)

['acti', 'asia', 'asib', 'asic', 'asio', 'asix', 'bmdebt', 'bmheader', 'bmpaymts', 'bmquotes', 'bmyield', 'bndprt06', 'bndprt12', 'bxcalind', 'bxdlyind', 'bxmthind', 'bxquotes', 'bxyield', 'cap', 'ccm_lookup', 'ccm_qvards', 'ccmxpf_linktable', 'ccmxpf_lnkhist', 'ccmxpf_lnkrng', 'ccmxpf_lnkused', 'comphead', 'comphist', 'compmaster', 'contact_info', 'crsp_cik_map', 'crsp_daily_data', 'crsp_header', 'crsp_monthly_data', 'crsp_names', 'crsp_portno_map', 'crsp_ziman_daily_index', 'crsp_ziman_monthly_index', 'cs20yr', 'cs5yr', 'cs90d', 'cst_hist', 'daily_nav', 'daily_nav_ret', 'daily_returns', 'dividends', 'dport1', 'dport2', 'dport3', 'dport4', 'dport5', 'dport6', 'dport7', 'dport8', 'dport9', 'dsbc', 'dsbo', 'dse', 'dse62', 'dse62delist', 'dse62dist', 'dse62exchdates', 'dse62names', 'dse62nasdin', 'dse62shares', 'dseall', 'dseall62', 'dsedelist', 'dsedist', 'dseexchdates', 'dsenames', 'dsenasdin', 'dseshares', 'dsf', 'dsf62', 'dsfhdr', 'dsfhdr62', 'dsi', 'dsi62', 'dsia', 'dsib', 'dsic', 'dsio', 'dsir', 'dsix', 'dsiy', 'dsp500', 'dsp500list', 'dsp500p', 'dssc', 'dsso', 'eod_cap', 'eod_sector', 'eod_vg', 'erdport1', 'erdport2', 'erdport3', 'erdport4', 'erdport5', 'erdport6', 'erdport7', 'erdport8', 'erdport9', 'ermport1', 'ermport2', 'ermport3', 'ermport4', 'ermport5', 'fbpri', 'fbyld', 'front_load', 'front_load_det', 'front_load_grp', 'fund_fees', 'fund_flows', 'fund_hdr', 'fund_hdr_hist', 'fund_names', 'fund_style', 'fund_summary', 'fund_summary2', 'fwdask06', 'fwdask12', 'fwdave06', 'fwdave12', 'fwdbid06', 'fwdbid12', 'hldask06', 'hldask12', 'hldave06', 'hldave12', 'hldbid06', 'hldbid12', 'holdings', 'holdings_co_info', 'index_descriptions', 'index_type_map', 'mbi', 'mbmdat', 'mbmhdr', 'mbx', 'mbxid', 'mcti', 'mfdbname', 'mhista', 'mhistn', 'mhistq', 'monthly_nav', 'monthly_returns', 'monthly_tna', 'monthly_tna_ret_nav', 'mport1', 'mport2', 'mport3', 'mport4', 'mport5', 'mse', 'mse62', 'mse62delist', 'mse62dist', 'mse62exchdates', 'mse62names', 'mse62nasdin', 'mse62shares', 'mseall', 'mseall62', 'msedelist', 'msedist', 'mseexchdates', 'msenames', 'msenasdin', 'mseshares', 'msf', 'msf62', 'msfhdr', 'msfhdr62', 'msi', 'msi62', 'msia', 'msib', 'msic', 'msio', 'msir', 'msix', 'msiy', 'msp500', 'msp500list', 'msp500p', 'portnomap', 'priask06', 'priask12', 'priave06', 'priave12', 'pribid06', 'pribid12', 'price_type', 'property_type', 'qcti', 'qsia', 'qsib', 'qsic', 'qsio', 'qsix', 'rear_load', 'rear_load_det', 'rear_load_grp', 'rebala', 'rebaln', 'rebalq', 'reit_type', 'riskfree', 's6z_agg_ann', 's6z_agg_mth', 's6z_agg_qtr', 's6z_del', 's6z_dind', 's6z_dis', 's6z_dp_dly', 's6z_ds_dly', 's6z_hdr', 's6z_indhdr', 's6z_mdel', 's6z_mind', 's6z_mth', 's6z_nam', 's6z_ndi', 's6z_shr', 'saz_agg_ann', 'saz_agg_mth', 'saz_agg_qtr', 'saz_del', 'saz_dind', 'saz_dis', 'saz_dp_dly', 'saz_ds_dly', 'saz_hdr', 'saz_indhdr', 'saz_mdel', 'saz_mind', 'saz_mth', 'saz_nam', 'saz_ndi', 'saz_shr', 'sechead', 'sechist', 'sector', 'sfz_dind', 'sfz_indhdr', 'sfz_mbr', 'sfz_mind', 'sfz_portd', 'sfz_portm', 'sfz_rb', 'stock_qvards', 'stocknames', 'stocknames62', 'sub_property_type', 'tfz_dly', 'tfz_dly_cd', 'tfz_dly_cpi', 'tfz_dly_ft', 'tfz_dly_rf2', 'tfz_dly_ts2', 'tfz_idx', 'tfz_iss', 'tfz_mast', 'tfz_mth', 'tfz_mth_bp', 'tfz_mth_cd', 'tfz_mth_cpi', 'tfz_mth_fb', 'tfz_mth_ft', 'tfz_mth_rf', 'tfz_mth_rf2', 'tfz_mth_ts', 'tfz_mth_ts2', 'tfz_pay', 'vg', 'yldask06', 'yldask12', 'yldave06', 'yldave12', 'yldbid06', 'yldbid12', 'ziman_reit_info', 'zr_hdrnames']

In [18]:
# You will notice we have a lot crsp_tables !
# So lets describe what an example table is 
stockname_description = db.describe_table(library='crsp', table='stocknames')
# the following will print the column and types for that table.
print(stockname_description)

Approximately 75354 rows in crsp.stocknames.
         name  nullable              type
0      permno      True  DOUBLE_PRECISION
1      permco      True  DOUBLE_PRECISION
2      namedt      True              DATE
3   nameenddt      True              DATE
4       cusip      True        VARCHAR(8)
5      ncusip      True        VARCHAR(8)
6      ticker      True        VARCHAR(8)
7      comnam      True       VARCHAR(35)
8       hexcd      True  DOUBLE_PRECISION
9      exchcd      True  DOUBLE_PRECISION
10      siccd      True  DOUBLE_PRECISION
11      shrcd      True  DOUBLE_PRECISION
12     shrcls      True        VARCHAR(4)
13    st_date      True              DATE
14   end_date      True              DATE
15    namedum      True  DOUBLE_PRECISION

In [19]:
# Now lets get some stocknames !
# The follwoing will return a pandas dataframe !
stocknames = db.get_table(library='crsp', table='stocknames', obs=10)
# We'll print the type just to prove to you its a data frame
print(type(stocknames))
# Now we'll some top rows
stocknames.head()

<class 'pandas.core.frame.DataFrame'>

,permno,permco,namedt,nameenddt,cusip,ncusip,ticker,comnam,hexcd,exchcd,siccd,shrcd,shrcls,st_date,end_date,namedum
0,10000.0,7952.0,1986-01-07,1987-06-11,68391610,68391610,OMFGA,OPTIMUM MANUFACTURING INC,3.0,3.0,3990.0,10.0,A,1986-01-31,1987-06-30,2.0
1,10001.0,7953.0,1986-01-09,1993-11-21,36720410,39040610,GFGC,GREAT FALLS GAS CO,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
2,10001.0,7953.0,1993-11-22,2008-02-04,36720410,29274A10,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
3,10001.0,7953.0,2008-02-05,2009-08-03,36720410,29274A20,EWST,ENERGY WEST INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0
4,10001.0,7953.0,2009-08-04,2009-12-17,36720410,29269V10,EGAS,ENERGY INC,2.0,3.0,4920.0,11.0,None,1986-01-31,2017-08-31,2.0

# Where to go from here ?


The WRDS website has very useful information on your subscribed products
-  https://wrds-www.wharton.upenn.edu/pages/get-data/
- you can also read more information about what the columns mean 

You will also want to get familiar with the Pandas library as its incredibly useful for analyzing data.
- https://www.kaggle.com/learn/pandas
- https://www.w3schools.com/python/pandas/default.asp


**Then sky is the limit!**
You can combine all sorts of tools to understand and interpret WRDS data.